form {
    max-width: 420px;
    margin: 30px auto;
    background: rgb(39, 150, 131);
    text-align: left;
    padding: 40px;
    border-radius: 10px;
    color: white;
}

label {
    color: lightgrey;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

input {
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: black;
    
}

a {
    color: white;
}
